/* global */
@font-face {
    font-family: "gothampro_regular";
    src: url("/fonts/gothampro_regular.ttf");
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000000;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    max-width: 1920px;
    text-align: -webkit-center;
}


/* header */
.header {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    height: 200px;
    background-color: #000;
    color: #fff;
    align-items: center;
}

.header__wrapper {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 100%;
    background-image: url("/img/back-header.jpg");
    background-position: top;
}

/* header-header */
.header__header {
    display: flex;
    height: 90px;
    margin-top: 20px;
}

.header__column {
    display: flex;
    width: 50%;
}

.header__logo {
    margin-top: 20px;
    width: 150px;
    height: 100px;
    background-size: cover;
    margin-left: 10px;
}

.header__column--right {
    justify-content: flex-end;
}

.header__phone p {
    margin: 0;
}
.header__item {
    display: flex;
    font-size: 28px;
    height: 65px;
    font-family: gothampro_regular;
    align-items: center;
    font-weight: bold;
    justify-content: center;
}

/* btn */
.btn-back-call {
    border-radius: 10px;
    background-color: #ff0000;
    color: #fff;
    font-weight: 100;
    border: 0;
    width: 200px;
}

.btn-back-call:hover {
    background-color: #bd2d3b;
}

.btn-back-call a {
    text-decoration: none;
    color: #fff;
    font-size: 28px;
}
.btn-back-call--295 {
    width: 295px;
    margin-left: 60px;
    margin-right: 10px;
}

.btn-back-call--580 {
    width: 580px;
    margin-top: 250px;
}

.btn-back-call--top65 {
    margin-top: 65px;
}

/* header__nav */
.header__nav {
    display: flex;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    margin: 0 0.9em;
}

.header__item-nav {
    display: flex;
    font-size: 28px;
    font-family: gothampro_regular;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    padding: 0.5em;
}

.header__item-nav--main {
    margin: -2px;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba( 255, 255, 255, 0.3);
}

.header__nav a:hover{
    margin: -2px;
    border: 2px solid darkred;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba( 255, 0, 0, 0.3)
}

/* banner */
.banner {
    display: flex;
    flex-direction: column;
    height: 750px;
    width: 100%;
    max-width: 1920px;
    background-image: url("/img/backgraund-banner.png");
    background-color: #000;
    background-position: top;
    align-items: center;
}


.banner-logo h1 {
    font-family: gothampro_regular;
    font-size: 90px;
    color: #fff;
    text-transform: capitalize;
    margin-top: 90px;
}

.banner-logo h2 {
    font-family: gothampro_regular;
    font-size: 60px;
    color: #fff;
}

/*section-about*/
.section-main {
    width: 100%;
    text-align: center;
}

/*section-services*/
.section-services {
    display: flex;
    height: 640px;
    width: 100%;
    background-image: url("/img/back-cicada.png");
    background-color: #fafafa;
    background-position: center;
    justify-content: space-between;
}

.section-services__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    margin-top: 90px;
}

.section-services__logo {
    width: 250px;
    height: 250px;
    background-color: #000;
}

.section-services__logo--back1 {
    background-color: #3f1b1b;
}

.section-services__logo--back2 {
    background-color: #731c1c;
}

.section-services__logo--back3 {
    background-color: #b94c4c;
}

.section-services__logo--back4 {
    background-color: #c44646;
}

.section-services__name {
    margin: 0;
    margin-top: 55px;
    font-size: 28px;
    font-weight: 100;
}

/*section-information*/
.section-information {
    display: flex;
    flex-direction: column;
    height: 1200px;
    width: 100%;
    background-image: url("/img/back-information.png");
    background-color: #fefbfb;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 99%;
}

.section-information h3 {
    margin: 0;
    margin-top: 75px;
    font-weight: 900;
    line-height: 50px;
}

.section-information h4 {
    margin: 0;
    margin-top: 75px;
}

.section-information p {
    margin: 0;
    margin-top: 50px;
    line-height: 25px;
}

.section-information__title {
    font-family: gothampro_regular;
    font-size: 37px;
    color: #000;
}

.section-information__mini-title {
    font-family: gothampro_regular;
    font-size: 30px;
    color: #000;
}

.section-information__text {
    font-family: gothampro_regular;
    font-size: 20px;
    color: #000;
}

/*section-action*/
.section-action {
    display:flex;
    height: 400px;
    width: 100%;
    background-image: url("/img/back-action.png");
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}

.section-action__background {
    display: flex;
    height: 300px;
    width: 1250px;
    background-image: url("/img/back-girl.png");
    background-color: #030201;
    background-position: left;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.section-action__header {
    font-family: gothampro_regular;
    width: 100%;
    height: 155px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-action__header--right {
    margin-left: 35em;
}

.section-action__header h1 {
    margin: 0;
    font-size: 40px;
    color: #fff;
    font-weight: 100;
    margin-top: 40px;
}

.section-action__header h2 {
    margin: 0;
    font-size: 40px;
    color: #ff0000;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 15px;
}

.section-action__header p {
    margin: 0;
    font-size: 24px;
    color: #fff;
    margin-top: 15px;
}

.section-action__form {
    display: flex;
    height: 145px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.section-action__form-name {
    width: 435px;
    height: 60px;
    border-radius: 10px;
    border: 0;
    font-family: gothampro_regular;
    font-size: 28px;
    font-weight: 900;
    color: #000;
    margin: 20px;
}

.section-action__form-btn {
    width: 435px;
    height: 60px;
    border-radius: 10px;
    border: 0;
    background-color: #ff0000;
    font-family: gothampro_regular;
    font-size: 28px;
    font-weight: 900;
    color: #fff;
    margin: 20px;
}

/*section-we-also-do*/
.section-we-also-do {
    width: 100%;
    height: 670px;
    background-image: url("/img/back-we-also-do.png");
    background-color: #030201;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.section-we-also-do__header {
    margin: 0;
    color: #fff;
    margin-top: 50px;
    font-family: gothampro_regular;
    font-size: 38px;
}

.section-we-also-do__items {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
}

.section-we-also-do__item {
    margin-top: 35px;
}

.section-services__item h1 {
    font-family: gothampro_regular;
    margin: 0;
    font-size: 37px;
    color: #fff;
    font-weight: 900;
    margin-top: 10px;
    line-height: 50px;
}

.section-services__item p {
    font-family: gothampro_regular;
    margin: 0;
    font-size: 16px;
    color: #fff;
    font-weight: 100;
    margin-top: 10px;
}

/*section-our-last-works*/
.section-our-last-works {
    width: 100%;
    height: 880px;
    background-image: url("/img/back-our-last-works.png");
    background-color: #efedec;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.section-our-last-works__img {
    width: 740px;
    height: 680px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-image: url("/img/us-work.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-our-last-works__title {
    font-family: gothampro_regular;
    margin: 55px 0;
    font-size: 38px;
}

/*section-us-masters*/
.section-us-masters {
    width: 100%;
    height: 530px;
    background-color: #fff;
}

.section-us-masters__header {
    font-family: gothampro_regular;
    font-size: 38px;
    margin: 50px 0 20px 0;
    font-weight: 900;
}

.section-us-masters__items {
    display: flex;
    justify-content: center;
}

.section-us-masters__item {
    margin: 40px;
}

.section-us-masters__img {
    width: 250px;
    height: 170px;
    background-color: #7c8593;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.section-us-masters__img--master-1 {
    background-image: url("/img/master-tatto1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
}

.section-us-masters__img--master-2 {
    background-image: url("/img/master-tatto2.png");
    background-position: 70% 20%;
    background-repeat: no-repeat;
    background-size: 130%;
}

.section-us-masters__img--master-3 {
    background-image: url("/img/master-tatto3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
}

.section-us-masters__img--master-4 {
    background-image: url("/img/master-tatto4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
}

.section-us-masters__title {
    font-family: gothampro_regular;
    font-weight: 900;
    font-size: 20px;
    margin-top: 40px;
}

.section-us-masters__text {
    font-family: gothampro_regular;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 100;
    line-height: 20px;
}

/*section-us-reviews*/
.section-us-reviews {
    width: 100%;
    height: 970px;
    background-image: url("/img/back-reviews.png");
    background-color: #ebebeb;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.section-us-reviews__header {
    margin: 0;
    font-family: gothampro_regular;
    font-weight: 900;
    margin-top: 90px;
    font-size: 38px;
}

.section-us-reviews__items {
    display: flex;
}

.section-us-reviews__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 465px;
    height: 615px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin: 100px;
}

.section-us-reviews__img {
    width: 150px;
    height: 150px;
    background-image: url("/img/back-reviews.png");
    border-radius: 100px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin-top: 45px;
}

.section-us-reviews__img--face1 {
    background-image: url("/img/master-tatto4.png");
    background-position: center;
}

.section-us-reviews__img--face2 {
    background-image: url("/img/master-tatto3.png");
    background-position: center;
}

.section-us-reviews__name {
    margin-top: 35px;
    font-family: gothampro_regular;
    font-weight: 900;
    font-size: 20px;
}

.section-us-reviews__age {
    margin-top: 10px;
    font-family: gothampro_regular;
    font-weight: 900;
    font-size: 20px;
}

.section-us-reviews__text {
    margin-top: 35px;
    font-family: gothampro_regular;
    font-weight: 100;
    font-size: 16px;
    width: 380px;
    text-align: justify;
    line-height: 24px;
}

/*section-us-certificates*/
.section-us-certificates {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 790px;
    background-color: #fff;
    align-items: center;
}

.section-us-certificates--title {
    font-family: gothampro_regular;
    font-size: 38px;
    margin-top: 85px;
    margin-bottom: 85px;
    font-weight: 900;
}

.section-us-certificates--items {
    display: flex;
}

.section-us-certificates--item {
    background-color: #1c1c1c;
    height: 500px;
    width: 380px;
    margin: 0 140px 0 140px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.section-us-certificates--item img {
    margin-top: 30px;
}

/*section-action-2*/
/*section-map*/
.section-map {
    height: 500px;
    width: 100%;
}

.section-map__item{
    height: 500px;
    width: 100%;
}

/*footer*/
.footer {
    display: flex;
    justify-content: center;
    font-family: gothampro_regular;
    font-size: 24px;
    color: white;
    height: 260px;
    width: 100%;
    background-color: #000;
}

.footer-text {
    margin-top: 55px;
    line-height: 1.4;
    text-align: center;
}